/* CSS Transition */

.fade {
  &-appear {
    /* appear - on page load */
    opacity: 0;
    &.fade-appear-active {
      opacity: 1;
      transition: opacity 500ms ease-in-out;
    }
  }
  /* enter */
  &-enter {
    opacity: 0;
    &-active {
      opacity: 1;
      transition: opacity 500ms ease-in-out;
    }
  }
  /* exit */
  &-exit {
    opacity: 1;
    &-active {
      opacity: 0;
      transition: opacity 500ms ease-in-out;
    }
  }
}
